.transferContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transferContainer .transferBox {
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transferContainer .transferTitle {
    font-size: 26px;
    font-weight: 700;
    padding: 30px 0 30px 0;
}

.transferContainer .receiverProfile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 0 0;
}

.transferContainer .transferForm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.transferContainer .transferForm .inputBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.transferContainer .transferForm label {
    font-size: 14px;
    color: #898989;
}

.transferContainer .transferForm input {
    border: 0.5px solid #C1C1C1;
    border-radius: 10px;
    width: 375px;
    padding: 12px 20px;
    font-size: 20px;
    box-sizing: border-box;
}

.transferContainer .transferForm textarea {
    border: 0.5px solid #C1C1C1;
    border-radius: 10px;
    width: 375px;
    height: 200px;
    padding: 12px 20px;
    font-size: 20px;
    box-sizing: border-box;
    resize: none;
}

.transferContainer .transferForm .disInput {
    border: none;
    border-radius: 10px;
    width: 375px;
    padding: 12px 20px;
    font-size: 20px;
    background-color: #F0F0F0;
}

.transferContainer .transferForm ::placeholder {
    color: #898989;
    font-size: 20px;
    text-align: end;
}

.transferContainer .transferBtn {
    position: fixed;
    bottom: 50px;
}