.custom-popup {
    border-radius: 15px;
    /* Custom border radius for the popup */
}

.custom-input-label {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
}

.custom-textarea {
    resize: none;
    border-radius: 10px;
}

.custom-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #C1C1C1;
}

.swal2-actions {
    display: flex;
    justify-content: space-between;
}

.custom-cancel-button {
    order: 1;
    /* Position the cancel button first */
    background-color: #CFCFCF;
    /* Red */
    color: white;
    border-radius: 25px;
    padding: 10px 20px;

    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;

    width: 100px;
    height: 50px;
}

.custom-confirm-button {
    order: 2;
    /* Position the confirm button second */
    background-color: #29AE4C;
    /* Green */
    color: white;
    border-radius: 25px;
    padding: 10px 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;

    width: 120px;
    height: 50px;

}

.transferContainer {
    margin: 42px 0 0 0;
    display: flex;
    flex-direction: column;
}

.transferContainer .receiverProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transferContainer .receiverProfile .receiverPic {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.transferContainer .receiverProfile p {
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;

}

.transferCardContainer {
    /* margin: 100px 0 0 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 350px;
    margin: 0;
    /* background-color: cadetblue; */
    /* border: solid cornflowerblue */
}

.transferCardContainer .Gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transferCardContainer .Gif .loadingGif {
    width: 50px;
    position: absolute;
    top: 220px;
    z-index: -1;
}