.rankingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightslategray; */
    padding: 0 0 10px 0;
}

.rankingContainer .rankingBox {
    display: flex;
    flex-direction: column;
}

.rankingContainer .rankingBox .rankingBoxTitle {
    font-size: 26px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: #333333;

    padding: 20px 0 23px 0;
}

.rankingContainer .rankingBox .rankingBoxPic {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.rankingContainer .rankingBox .rankingBoxPic img {
    position: absolute;
    width: 100%;
    height: 30%;
}

.rankingContainer .historyBox {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    z-index: -1;

    /* height: 50vh; */
}

.rankingContainer .historyBoxTitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 27.2px;

    display: flex;
    padding: 0 0 0 2%;

}