.rewardListHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: 70px;
    justify-content: center;
    box-shadow: 4px 2px 18px 0px #0000001A;
}

.rewardListHeaderContainer .rewardListHeaderBox {
    display: flex;
    align-items: center;
    width: 90%;
}

.rewardListHeaderContainer .rewardListHeaderTitle {
    font-size: 26px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: #DE2D1E;
    position: absolute;
    /* Center title absolutely */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* Perfect center horizontally */
}

.rewardListHeaderContainer .rewardListHeaderBtn {
    margin-left: auto;
    /* Push button to the right */
}

.rewardListHeaderContainer .rewardListHeaderBtn a {
    text-decoration: none;
}

.rewardListHeaderContainer .rewardListHeaderBtn button {
    display: flex;
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background-color: #DE2D1E;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-weight: 700;
    line-height: 30.22px;
    text-align: center;
    color: #FFFFFF;
}