.Btn {
    border-radius: 30px;
    width: 375px;
    height: 50px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    background-color: #DE2D1E;
    transition: background-color 0.3s;
}

.Btn:hover {
    background-color: #c52a18;
}

.Btn.disabled {
    background-color: #ccc;
    color: #777;
    cursor: not-allowed;
}

.Btn:disabled {
    pointer-events: none;
}