.myQrContainer {
    display: flex;
}

.myQrContainer .myQrBox {
    flex: 1;
    min-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myQrContainer p{
    text-align: center;
    font-size: 40px;
}

.myQrContainer .myQrImg img {
    width: 300px;
    height: 300px;

}

.myQrContainer .myQrBtn {
    margin: 100px 0 0 0;
    border-radius: 30px;
    width: 200px;
    height: 56px;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: black;
}