.myQrContainer {
    display: flex;
}

.myQrContainer .myQrBox {
    flex: 1;
    min-width: 375;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0 0;
}

.myQrContainer p {
    text-align: center;
    font-size: 40px;
}

.myQrContainer .myQrImg img {
    width: 300px;
    height: 300px;

}

.myQrContainer .myQrBtn {
    position: fixed;
    bottom: 50px;
}