.profileContainer {
    display: flex;
    min-width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.profileContainer .profileBox {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#500b28 ,#E21C34);
    min-width: 60px;
    height: 300px;
    border-radius: 20px;

}

.profileContainer p {
    text-align: left;
    color: aliceblue;
    font-weight: 500;
    font-size: 20px;
}

.profileContainer .profileImg {
    justify-self: center;
    padding: 20px;
}

.profileContainer .profileImg img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.profileContainer .profiletxt {
    justify-self: center;
}